.product{
    &__img-car{
        width: 80%;
        height: 27rem;
        border-radius: 5px;
        transition: all 0.3s;

        &:hover {
            transform:  scale(1.05);
            }        
    } 
     
    &__text{
        font-size: 1.5rem;
    }
}